# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Vite
dist/
.vite/

# Replit
.replit
.local/
*.bin
replit.md

# IDEs
.idea/
.vscode/
*.iml
*.swp
*.swo

# OS
Thumbs.db
.DS_Store

# Backups and Junk
client_backup/
structure.txt
git
main
test-*.html

# Other
arts/
*.log
.env
.env.production

